.main-header {
  margin: 0 65px;
}
.header {
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* background: #ffffff; */
}
.links ul {
  padding: 0;
  list-style: none;
  display: inline;
}
.logo img {
  width: 254px;
  height: 72px;
  cursor: pointer;
}
.links ul li {
  display: inline;
  margin: 0 25px;
}
.links ul li a {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  /* identical to box height, or 153% */

  color: #000000;
}
.login-btn a {
  padding: 10px 36px;
  gap: 8px;

  /* width: 116px;
  height: 43px; */
  background-color: #e57601 !important;

  color: #ffffff !important;
  border-radius: 5px;
}
.signup-btn a {
  color: #e57601 !important;
}
.nav-icon {
  display: none;
}
.nav-icon i {
  font-size: 30px;
}
.nav-icon.mbl-view i {
  color: white;
}
.mbl-view {
  display: none !important;
}
@media (max-width: 950px) {
  .main-header {
    margin: 0 30px;
  }
  .links ul li {
    display: inline;
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .mbl-view {
    display: block !important;
  }
  .hide-it {
    display: none !important;
  }
  .nav-icon {
    display: block;
    margin-top: 15px;
  }
  .links ul {
    z-index: 999999;
    position: fixed;
    right: 0;
    background-color: #e57601;
    height: 100vh;
    margin: 0;
    width: 160px;
    top: 0;
  }
  .links ul li a {
    color: white;
  }

  .links ul li {
    display: block;
    text-align: center;
    margin: 44px 0;
  }
  .signup-btn a {
    color: white !important;
  }
  .login-btn a {
    background-color: white !important;
    color: #e57601 !important;
  }
}

@media (max-width: 600px) {
  .main-header {
    margin: 0 15px;
  }
}
