.faq {
  margin-left: 65px;
  margin-top: 220px !important;
  margin-right: 65px;
}
.faq-para {
  margin-top: 50px;
}

.top-marg h4,
.faq-up h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  display: inline;

  /* Grays - 100 */

  color: #2d2c2c;
}

.faq-up {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.faq-up,
.top-marg {
  margin-left: 10px;
}
.up-arrow {
  /* position: absolute;
  
  left: 0; */
  position: relative;
  margin-right: -32px;
  top: 5px;
}

.down-arrow {
  position: relative;
  margin-left: -32px;
  top: 20px;
}
.faq-up p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  width: 60vw;

  color: #000000;
}
.top-marg p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;

  color: #000000;
}
.img-flex img {
  margin-left: 20px;
}
.top-marg {
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .faq {
    margin-left: 30px;
    /* margin-top: 220px !important; */
    margin-right: 30px;
  }
  .img-flex img {
    width: 250px;
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .faq-area .our-mission {
    font-size: 35px !important;
  }
}

@media (max-width: 768px) {
  .img-flex img {
    width: 150px;
  }
  .faq-up {
    flex-direction: column;
  }
  .img-flex {
    text-align: center;
  }
  .img-flex img {
    width: 200px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .faq-up,
  .top-marg {
    margin-left: 0;
  }
  .faq-up p {
    width: 100%;
  }
  .faq {
    margin-left: 15px;
    /* margin-top: 220px !important; */
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  .paras h4 {
    font-size: 20px !important;
  }
  .faq-area .our-mission {
    font-size: 30px !important;
    line-height: normal;
  }
}
