.saying-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saying-heading h3 {
  display: inline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 64px;
  /* identical to box height */

  text-align: center;

  /* Grays - 100 */

  color: #2d2c2c;
}

.saying-heading img {
  position: relative;
  top: -18px;
  right: -20px;
}
.saying-para {
  margin-top: 30px;
  margin-bottom: 66px;
  display: flex;
  justify-content: center;
}
.user-image {
  background-image: url("../../../assets/img/userbg.png");
  background-repeat: no-repeat;
  position: relative;
}
.inner-user {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  padding-top: 15px;
  padding-left: 12px;
}
.user-review {
  margin-left: 50px;
  width: 65vw;
}
.user-write {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.user-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  margin-top: 16px;
  color: #000000;
}
.user-handle {
  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  color: #595959;
}
@media (max-width: 1000px) {
  .saying-heading h3 {
    font-size: 35px;
  }
  .saying-heading img {
    width: 74px;
  }
}

@media (max-width: 768px) {
  .saying-heading h3 {
    font-size: 30px;
  }
  .saying-heading img {
    width: 65px;
  }
  .user-write {
    font-size: 16px;
  }
  .user-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  .user-review {
    margin-left: 25px;
    width: auto;
  }
  .inner-user img {
    width: 100px;
  }
  .user-image {
    background-size: 112px;
  }
  .say {
    margin: 0 30px;
  }
  .inner-user {
    padding-top: 9px;
    padding-left: 12px;
  }
}
@media (max-width: 600px) {
  .saying-para {
    flex-direction: column;
  }
  .user-review {
    margin-top: 20px;
    text-align: justify;
    margin-left: 0;
  }
  .say {
    margin: 0 15px;
  }
  .saying-heading h3 {
    font-size: 25px;
  }
  .saying-heading img {
    width: 60px;
  }
}

@media (max-width: 395px) {
  .saying-heading h3 {
    line-height: normal;
  }
  .saying-heading img {
    width: 60px;
    top: -28px;
    right: -45px;
  }
}
